@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 15 23 42;
  --background: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 241 245 249;
    --background: 15 23 42;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
