@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 15 23 42;
  --background: 255 255 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
